<section>
  <div class="title">
    <h1><%= t '.title' %></h1>
    <%= link_to t('.add'), new_client_path, id: "new_client", :class => 'newClient' %>
  </div>

  <ul id="list">
    <% @clients.each do |client| %>
      <li>
        <span><%= client.name %></span>
        <%= link_to t('.destroy'), client_path(client), method: :delete, data: {confirm: t('dialogs.destroy')} %>
        <%= link_to t('.users'), client_users_path(client) %>
        <%= link_to t('.edit'), edit_client_path(client), :id => "edit_#{client.id}" %>
      </li>
    <% end %>
  </ul>
</section>
